@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Satisfy&display=swap");
body {
  background-image: linear-gradient(to bottom right, #305170, #6dfc6b);
}
.page {
  max-width: 1400px;
  margin: auto;
}
.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-row-gap: 1em;
}
.placeHeader {
  font-family: "Satisfy", cursive;
  font-size: 35px;
  color: white;
}
.placeImg {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: center bottom;
}
.gridItem {
  justify-self: start;
  align-self: center;
}
.gridItemButton {
  justify-self: end;
  align-self: flex-end;
}
.imgDescription {
  font-size: 9px;
  font-style: italic;
}
.showMoreLessBtn {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
}

.removeEachButton {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.removeEachButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.removeEachButton:hover {
  background-color: #2c974b;
}
.removeEachButton:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}
.removeEachButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.removeEachButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.deleteAllButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.deleteAllButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.deleteAllButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.deleteAllButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
